/githubkey.txt
/PowerShellProfile/desktop.ini
/desktop.ini
desktop.ini
/PowerShellProfile/Watched/Issues.txt
/PowerShellProfile/Watched/PiHoleQueries.txt
*.log
/PowerShellProfile/Watched
/PowerShellProfile/smartthingskey.txt
Apps
/PowerShellProfile/githubkey.txt
/Watch-PiHole.ps1
/Watch-SmartThings.ps1
/NightlyBackup.ps1
